.up_qr {
    display:table-cell;
    text-align: center;
    font-size: 120%;
    width:80%;
}

.regist-vote {
    display: table-cell;
    width:20%;
}

.candidate_list {
 max-height: 200px;
 border: 1px solid #666666;
 padding: 10px;
 margin: 0px auto;
 overflow: auto;
}
