.up_qr {
    display:table-cell;
    text-align: center;
    font-size: 120%;
    width:80%;
}

.regist-vote {
    display: table-cell;
    width:20%;
}

.candidate_list {
 max-height: 300px;
 border: 1px solid #666666;
 padding: 1px;
 margin: 5px auto;
 overflow: auto;
}

.ui-mobile .ui-page-active {
   display: block;
   overflow: visible;
   /* overflow-x: hidden; */
}

.topVoteIcon {
    width: 27%;
	margin: 5%;
    border-style: solid;
    border-width: 1px;

	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  	-moz-box-shadow: 2px 4px 8px rgba(0,0,0,.5);
  	box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}

.step-two {
    text-align: center;
}

div#description-howtouse p {
    font-size: 70%;
}

div#permit_revoting {
        padding:10px 10px 10px 35px;
        border-width:2px 0;
        border-style:solid;
        border-color:#ff009c;
        color:#666;
        background:#ffebef url(/postom/app/webroot/img/exclamation1.png) no-repeat 5px bottom;
        font-size:11px;
        line-height:1.5;
        text-align: center;
    }

div{ scrollbar-base-color:#fcc800; }
div::-webkit-scrollbar { width: 5px; height: auto; }
div::-webkit-scrollbar-track { background: #455765; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); }
div::-webkit-scrollbar-thumb { background:#f39832; }
